.wrap {
    align-items: center;
    align-content: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

dice-roll {
    background: black no-repeat center center;
    background-size: 80%;
    height: fit-content;
    margin: 10px;
    position: relative;
    user-select: white;
}

dice-roll::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

dice-roll[sides="100"] {
    background-image: url('../d20.png');
}