@-webkit-keyframes animateBackground {
    0% {
        background-size: 200% auto;
    }

    50% {
        background-size: 210% auto;
    }

    100% {
        background-size: 200% auto;
    }
}

body {
    background-color: #f4f1e6;
    font-family: 'Times New Roman', serif;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../bg.png');
    -webkit-animation: animateBackground infinite ease-in-out 55s;
}

#container {
    width: 90%;
    max-width: 1000px;
}

#nameInputZone,
#messageInputZone,
#chatMessageZone {
    width: 100%;
    margin-bottom: 20px;
}


#imagesZone {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#teamImageZone,
#imageZone {
    width: 48%;

    /* Adjust the width as needed */
}

#teamImageZone img,
#imageZone img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin: auto;
    display: block;
}

#chatMessageZone {
    height: 300px;
    overflow-y: scroll;
    border: 2px solid #8a7a5c;
    background-color: #fffaf0;
    padding: 10px;
}

.sendButton {
    background-color: #6b8e23;
    /* Olive green color for buttons */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    /* Rounded corners for buttons */
    cursor: pointer;
    /* Cursor change to indicate clickable */
    font-weight: bold;
}

.sendButton:hover {
    background-color: #556b2f;
    /* Darker shade on hover for buttons */
}

/* Add other styles from your CSS file here */