<!DOCTYPE html>
<html>

<head>
    <title>Image Generator</title>
</head>

<body>
    <h1>Text to Image</h1>
    <form method="post">
        <!-- Larger text area with specified rows and columns -->
        <textarea name="text" rows="6" cols="40" placeholder="Enter text here"></textarea>
        <br> <!-- Line break to move the button to the next row -->
        <button type="submit">Generate Image</button>
    </form>
    {% if image_url %}
    <h2>Generated Image:</h2>
    <img src="{{ url_for('static', filename=image_url) }}" alt="Generated Image" width="512" height="512">
    {% endif %}
</body>

</html>